In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statistics
from scipy import stats

In [3]:
RidingMowers = pd.read_csv("F:/Python DS/db/RidingMowers.csv")
RidingMowers

     Income  Lot_Size    Response
0        34        26  Not Bought
1        34        40  Not Bought
2        34        46  Not Bought
3        34        48  Not Bought
4        34        53  Not Bought
..      ...       ...         ...
175      86       121      Bought
176      87       109      Bought
177      88       119      Bought
178      89       110      Bought
179      89       124      Bought

[180 rows x 3 columns]

In [4]:
a = RidingMowers['Lot_Size']

In [5]:
def mean(mean):
    mean = np.mean(a)
    print("mean = ", +mean)

In [6]:
def median(median):
    median = np.median(a) 
    print("Median = ", median)

In [7]:
def mode(mode):
    mode = stats.mode(a)
    print("Mode = ", mode)

In [8]:
def variance(var):
     print("Var = ", (statistics.variance(a)))

In [9]:
def std_Deviation(std):
    print("Std = ", (statistics.stdev(a)))

In [10]:
mean(a)
median(a)
mode(a)
variance(a)
std_Deviation(a)

mean =  69.36111111111111
Median =  69.0
Mode =  ModeResult(mode=array([78], dtype=int64), count=array([7]))
Var =  878.600713842334
Std =  29.641199601944823

In [15]:
def fvar(v):
    l=len(a)
    mean = np.mean(a)
    x=[]
    for i in range(l):
        x.append((v[i] - mean)**2)
    x=sum(x)
    var = x/(l-1)
    print("var=",+var)

def stddv(stddv):
    l=len(a)
    mean = np.mean(a)
    x=[]
    for i in range(l):
        x.append((stddv[i] - mean)**2)
    x=sum(x)
    stdv = (x/l)**0.5
    print("standard_deviation=",+stdv)

In [16]:
fvar(a)
stddv(a)

var= 878.6007138423341
standard_deviation= 29.55874826113975

In [13]:
def std_var(v):
    l=len(a)
    mean = np.mean(a)
    x=[]
    for i in range(l):
        x.append((v[i] - mean)**2)
    x=sum(x)
    var = x/l
    stdv = (x/l)**0.5
    return var,stdv

In [14]:
std_var(a)

(873.7195987654322, 29.55874826113975)